<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <title>organics</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">
                    <img src="images/logo.png" alt="">
                </a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/conditioner.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mikalla Conditioner</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star-"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €3.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/shampoo.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mikalla Shampoo</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €2.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/bathbomb.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Organic Bath Bomb</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €4.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/bubblebath.jpeg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Bubblegum-Scented Bubble Bath</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €7.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/sale3.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>African-Print Bag</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €3.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/prod5.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>African Black Soap</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €5.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/feat1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Unrefined Shea Butter</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €3.99
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="./images/conditioner.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Mikalla Conditioner</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            €3.99
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>
    <footer class="row center">Copyright</footer>
    </div>
</body>

</html>