@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color:  #071B49;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: #212F4E;
    
}
footer {
    grid-area: footer;
    background-color: #0E0D28;
    color: #ffffff;
    bottom: 0;
    width: 100%;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}
a {
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-top: 1rem;
}

input,
select, 
textarea,
button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

button {
    background-color: #f8f8f8;
    cursor: pointer;
}

input{
    background-color: #dadada;
    font-size: 1.4rem;
    padding: 0.7rem;
}
input:hover,
select:hover, 
textarea:hover,
button:hover{
    border: 0.1rem #404040 solid;
    box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1); ;
}

button.primary {
    background-color: #E78D19;
    border: none;
    font-weight: 700;
    
}
button.block {
    width: 100%;
}

.brand img {
    max-width: 12rem;
    width: 100%;
    margin-left: .5rem;
    margin-top: 1rem;
}

header a{
    color: #f8f8f8;
    padding: 1rem;
}

.badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.1rem 0.6rem;
    font-size: 1.2rem;
    margin-left: 0.2rem;
    top: -10px;
    right: -19px;
    
}

.fas.fa-shopping-bag {
    font-size: 1.8rem;
}

.fas.fa-user{
    margin-right: 2rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.row.inv {
    align-items: flex-start;
}

.row.center {
    justify-content: center;
}

.row.top {
    margin-top: 1rem;
    align-items: flex-start;    
}

.card.card-body.ordr{
    background-color:#212F4E;
    box-shadow:  0.5px 1px 0.2px rgb(7, 28, 48); ;
}

.card.card-body.fade{
    background-color:#8995ad;
}

.card.card-body.fade h2{
    color:#000000;
}

.ord-no {
    margin-left: 2rem;
    font-weight: 300;
}

.back {
    color:bisque;
}

.col-1 {
    flex: 1 1 25rem;
}

.col-2 {
    flex: 2 1 30rem;
}
.col-2.cart {
    padding: 0 1.5rem;
}

.col-1.order {
    margin-top: 0;
}
.head{
    color: #ffffff;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.card.card-body.cart {
    margin-top: 1rem;
    margin-left: 2.5rem;
    background-color: #6c7275;
}
.card.card-body.cart h2 {
    color: #ffffff;
    font-weight: 300;
    font-size: large;
    padding-left: 1rem;
}

.min-30 {
    min-width: 30rem;
}

.item-name,
.price{
    color:limegreen;
}


.item-name.cart,
.price.cart{
    color:cornsilk;
}
img {
    border-radius: 0.5rem;
}

img.small{
    max-width: 5rem;
    width:100%;
}

img.medium {
    max-height: 24rem;
    min-height: 24rem;
    max-width: 29rem;
    width: 100%;
}
img.large {
    max-width: 50rem;
    min-width: 50rem;
    max-height: 50rem;
    min-height: 50rem;
    height: 100%;
    width: 100%;
}

.card {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}
.def {
    padding: 2.5rem;
    color: #f8f8f8;
}
.def h1{
    color: cadetblue;
}

.prod {
    padding: 0 0.3rem ;
}

.primary.block {
    color: #ffffff;

}

.back {
    margin-left: 1rem;
    border-bottom: 1px cornflowerblue solid;
    color:cornflowerblue;
}

.card-body {
    padding: 1rem;
}

.card-body h2 {
    color:cadetblue;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.card.card-body.product{
    background-color: #8995ad;
}

.price {
    font-size: 2rem;
    font-weight: 300;
}

.price-light {
    font-size: 2.4rem;
    color:#E78D19;
}

.price-white {
    color: #ffffff;
    font-size: 2rem;
}
.light {
    background-color:#6c7275 ;
    border: none;
}

.tiny{
    font-size: smaller;
    font-weight: 200;
    color: #677175;
}

.rating span {
    color: #E78D19 ;
    margin: 0.1rem;
}

.rating span:last-child {
    color: #E78D19;
    margin-left: 1rem;
}

.loading {
    display: block !important;
}

.success {
    color: #1c4b0a;
}

.danger {
    color: #E80000;
}

.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: #2020a0;
    background-color:#f8f8f8;
}

.alert-danger{ 
    color: #a02020;
    background-color: #ffe0e0e0; 
}

.alert-success{ 
    color: #1c4b0a;
    background-color: #eeffe0; 
}

/* Form */
.form{
    max-width: 60rem;
    margin: 0 auto;
}

.form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form label,h1 {
    margin: 1rem 0;
    /* display: block; */
    color: #ffffff;
}

/*dropdown*/
.dropdown{
    display: inline-block;
    position: relative;
    margin-right: 2rem;
}

.dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: #071B49;
    margin: 0;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.fa-caret-down{
    margin-left: 2px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Check out steps*/
.checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color:#c0c0c0;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
}

.checkout-steps > div.active {
    border-top-color: #E78D19;
    color: #E78D19;
}