@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color:  #071B49;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: #212F4E;
    
}
footer {
    grid-area: footer;
    background-color: #0E0D28;
    color: #ffffff;
    bottom: 0;
    width: 100%;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}
a {
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    margin-top: 1rem;
}

input,
select, 
textarea,
button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

button {
    background-color: #f8f8f8;
    cursor: pointer;
}
input:hover,
select:hover, 
textarea:hover,
button:hover{
    border: 0.1rem #404040 solid;
    box-shadow:2px 2px 30px rgba(0, 0, 0, 0.1); ;
}

button.primary {
    background-color: #E78D19;
}
button.block {
    width: 100%;
}

.brand img {
    max-width: 12rem;
    width: 100%;
    margin-left: .5rem;
    margin-top: 1rem;
}

header a{
    color: #f8f8f8;
    padding: 1rem;
}

.badge {
    background-color: #f02020;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.07rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

.row.top {
    margin-top: 1rem;
    align-items: flex-start;
    
}

.back {
    color:bisque;
}

.col-1 {
    flex: 0.5 1 25rem;
}

.col-2 {
    flex: 1 1 30rem;
}

.head{
    color: #ffffff;
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.card-body.cart {
    margin-left: 2.5rem;
}

.min-30 {
    min-width: 30rem;
}

.item-name,
.price{
    color:#33C500;
}

.item-name.cart,
.price.cart{
    color:cornsilk;
}
img {
    border-radius: 0.5rem;
}

img.small{
    max-width: 5rem;
    width:100%;
}

img.medium {
    max-height: 24rem;
    max-width: 29rem;
    width: 100%;
}
img.large {
    width: 100%;
}

.card {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}
.def {
    padding: 2.5rem;
    color: bisque;
}

.block {
    color: #ffffff;
    font-weight: 300;
}

.back {
    margin-left: 1rem;
    border-bottom: 1px cornflowerblue solid;
    color:cornflowerblue;
}

.card-body {
    padding: 1rem;
}

.card-body h2 {
    color:cadetblue;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.price {
    font-size: 2rem;
}

.rating span {
    color: #E78D19 ;
    margin: 0.1rem;
}

.rating span:last-child {
    color: #E78D19;
    margin-left: 5px;
}

.success {
    color: #33C500;
}

.danger {
    color: #E80000;
}

.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
}

.alert-info {
    color: #2020a0;
    background-color:#f8f8f8;
}

.alert-danger{
    color: #a02020;
    background-color: #ffe0e0e0; 
}

